@model WebAppMVC.Models.Student

@{
    ViewBag.Title = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetById</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @* This dropdown list Html helper consumes the linked list of StudentIds placed in ViewBag in the Find() action method of the Student Controller  *@
            @* It has an onchange attribute that redirects  to Student controller / Find action method with a parameter of the value of the selected dropdown box index    *@
            @Html.DropDownListFor(model => model.StudentId, new SelectList(ViewBag.List, "Value", "Text"), new { @class = "form-control", @style = "width:65px", onchange = "document.location.href = '/Student/find?Id=' + this.options[this.selectedIndex].value;" })

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentFName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.StudentLname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLname)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.StudentAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
