@model IEnumerable<WebAppMVC.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Student", "Create") 
</p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentFName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentLname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentAge)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.StudentGender)
                    </th>

                    <th></th>
                </tr>

            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentFName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentLname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentAge)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.StudentGender)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StudentId }) |
                    @Html.ActionLink("Find", "Find", new { id = item.StudentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.StudentId }) 
                </td>
            </tr>
    }

    </table>
